<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Image:</strong>
</p>

<div id="image_show">
  <%= image_tag(@product.image_url, class: 'list_image') %>
</div>


<p>
  <strong>Price:</strong>
  <span><%= number_to_currency(@product.price)  %> </span>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
